body{
    background-color: rgb(1, 0, 65);
    color: rgb(224, 220, 220);
    font-family: Garamond, serif;
    opacity: 20;
}

.header{
    padding-left: 20px;
}

aside{
    text-align: right;
    float: right;
}

.dp{
    font-size: 16px;
    padding-left: 50%;
    color: greenyellow;
}

a{
    text-decoration: none;
    color: gray;
    font-size: xx-large;
}

.navBar{
    text-align: right;
    float: left;
    font-size: 16px;
    padding-right: 20px;
}

.navBar a{
    text-align: right;
    padding: 15px 17px;
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: Verdana, sans-serif;
}

.navBar a:hover{
    background-color: gray;
    transition: 1s;
}

.content{
    margin: 10%;;
    text-align: center;
    font-size: 30px;
}

.first{
    font-size: 50px;
    color: greenyellow;
}

.butn{
    padding: 15px 20px;
    background-color: rgb(1, 0, 65);
    color: white;
    font-size: 16px;
    transition:2s;
    border:1px solid white;
}

.butn:hover{
    background-color: rgb(71, 67, 67);
    transition: 1s;
    padding: 20px 50px;
    cursor:pointer;
}

.row{
    min-height: 20%;
    background-color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column{
    background-color: white;
    color: black;
    /* margin:20px 10px; */
    /* height: 20%; */
    width: 33%;
    float:left;
    /* padding-left: 20px; */
    /* padding:20px 50px; */
    text-align: center;
}

/* address{
    height: 30%;
    padding: 10%;
    text-align: center;
} */

.navbarFoot{
    float: left;
    font-size: 10px;
    padding-right: 20px;
}

.navbarFoot a{
    padding: 5px 7px;
    font-size: 10px;
    text-decoration: none;
    color: white;
    font-family: Verdana, sans-serif;
}

.navbarFoot a:hover{
    background-color: gray;
    transition: 0.5s;
}

@media screen and (max-width:480px) {
    .column {
      width: 100%;
    }

    .navBar{
        /* text-align: right; */
        float: left;
        margin-top: 0px;
        margin-left: 80px;
        margin-bottom: 20px;
        padding-right: 10px;
    }

    .navBar a{
        font-size: 6px;
        padding: 2px;
    }

    .navbarFoot{
        /* text-align: right; */
        float: right;
        margin: 0%;
        padding: 0%;
        /* margin-top: 0px;
        margin-left: 80px;
        margin-bottom: 20px; */
        /* padding-right: 10px; */
    }

    .navbarFoot a{
        font-size: 6px;
        padding: 2px;
    }

    address p{
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    
    address{
        margin-top: 0%;
        padding-top: 1px;
    }
    /* aside{
        float: left;
    } */
}
